* {
	font-family: "arial";
	}
body {
	padding-left:50px;
	}

h1 {
	color: orange;

}
#guid1 {
	color: red;
	margin: 30px;
	}
	
h2	{
	color: #D2691E;
}	
.esimerkki-box {
	background-color: #F0FFF0;
	color: black;
	border-spacing: 10px;
	border-collapse: collapse;
	margin: 20px;
	border: 2px solid #000000;
	padding-left: 10px;
	}
.esimerkki {
	color: red;
	margin: 30px;
	}
.table, tr, td {
	border: 1px solid #000000;
	border-spacing: 0px;
	background-color: #A9A9A9;
	}